body {
    display: flex;
    flex-direction: column;
    margin: 0px;
    font-family: 'Roboto', sans-serif;
    min-height: 100vh;
}

/* hero */

#hero-container, #footer {
    background-color: #1F2937;
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 0px;
}

#hero-upper {
    display: flex;
    justify-content: space-around;
}

#header-logo {
    font-size: 24px;
    color: #F9FAF8;
}

.header-text {
    font-size: 18px;
    color: #E5E7EB;
    gap: 20px;

}

#hero-lower {
    display: flex;
    justify-content: space-around;
}

#hero-title {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
    margin-bottom: 0px;
}

#hero-content {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    max-width: 500px;
}

#image-placeholder {
    background-color: gray;
    color: white;
    padding: 100px;
}

/* content */

#information-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#information-header {
    font-size: 36px;
    font-weight: extra bold;
    color: #1F2937;
}

#card-container {
    display: flex;
    gap: 30px;
}

.card {
    flex-direction: column;
}


.information-image-placeholder {
    height: 125px;
    width: 125px;
    border: 2px solid blue;
    border-radius: 12px;
}

.information-subtext {
    max-width: 125px;
    text-align: center;
}

/* quote section */

#quote-container {
    background-color: #E5E7EB;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px;
}

#author-section {
    margin-left: 550px;
}

#quote-text {
    font-size: 36px;
    font-style: italic;
    font-weight: lighter;
    color: #1F2937;
    max-width: 800px;
    margin-bottom: 0px;
}

#quote-author {
    font-weight: bold;
}


/* cta section */


#cta-container {
    display: flex;
    justify-content: space-around;
    align-content: center;
    background-color: #3882F6;
    margin: 75px;
    padding: 25px;
    border-radius: 6px;
    color: white;
    min-width: 400px;
    flex-shrink: 0;

}

.cta-content {
    margin: 0px;
}

#hidden-border-button {
    border: 2px solid white;
    
}

/* footer */

#footer {
    display: flex;
    margin-top: auto;
}

#copyright-text {
    text-align: center;
    color: white;
}

ul {
    display: flex;
    gap: 10px;
}

li {
    list-style: none;
}

button {
    background-color: #3882F6;
    border: none;
    color: white;
    padding: 10px 5px 10px 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    border-radius: 12px;
    width: 140px;
}